@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  border: 0;
  outline: none;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.has-\[\:checked\]\:ring-indigo-200:has(:checked) {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(212 212 212/var(--tw-ring-opacity));
}

.has-\[\:checked\]\:text-indigo-900:has(:checked) {
  --tw-text-opacity: 1;
  color: rgb(49 46 129/var(--tw-text-opacity));
}

.has-\[\:checked\]\:bg-indigo-50:has(:checked) {
  --tw-bg-opacity: 1;
  background-color: rgb(238 242 255/var(--tw-bg-opacity));
}

.has-\[\:checked\]\:bg-neutral-950:has(:checked) {
  --tw-bg-opacity: 1;
  background-color: rgb(10 10 10/var(--tw-bg-opacity));
}

.has-\[\:checked\]\:bg-slate-300:has(:checked) {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225/var(--tw-bg-opacity));
}

.has-\[\:checked\]\:text-slate-50:has(:checked) {
  --tw-bg-opacity: 1;
  color: rgb(255 255 255/var(--tw-bg-opacity));
}

.has-\[\:checked\]\:bg-indigo-500:has(:checked) {
  --tw-bg-opacity: 1;
  border-color: rgb(99 102 241/var(--tw-border-opacity));
}

.has-\[\:checked\]\:bg-clip-padding:has(:checked) {
  background-clip: inherit;
}

.chart-container {
  width: 100vw;
  height: 85vh;
} 